{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<h1 class="m-3">Список сторінок</h1>
<div class="row">
    <div class="col-2 g-2">
        <ul class="nav flex-column pt-2">
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/summary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/education">Education</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/works">Works</a> 
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/person">Abstract summary</a> 
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/bio">Famous biography</a>  
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/program">Tour program</a>  
            </li>
        </ul>
    </div>
    <div class="col-2 g-2">
        <ul class="nav flex-column pt-2">
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/web">Web technologies</a>  
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/js">About JavaScript</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/car">About Toyota</a>  
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/mac">About MacBook</a> 
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/facebook">About Facebook</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/task21">About Semantics</a> 
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/task22">About InnovaMind</a>
            </li>
        </ul>
    </div>
    <div class="col-2 g-2">
        <ul class="nav flex-column pt-2">
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/task31">task31</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/shophome">Shophome</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/shoporder">Shoporder</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/shopcart">Shopcart</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/shopprofile">Shopprofile</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/shopreview">Shopreview</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary mb-2" href="/shopcatalog">Shopcatalog</a>
            </li>
        </ul>
    </div>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}