<section>
  <h2 class="text-center">
    Basic {{name}} info
  </h2>
  <p class="text-md-start">
    {{description}}
  </p>
    {{#with history}}
      <p class="text-end">{{year}}</p>
      <p class="text-end">{{founder}}</p>
    {{/with}}
</section>