<header>
  {{> header }}
</header>
<section>
  <div>
    {{> title data="My skills" line=true big=true }}
      <ul class="list-group list-group-flush">
    {{#each main.skills}}
        <li class="list-group-item list-group-item-primary">{{title}}</li>
    {{/each}}
      </ul>
  </div>
</section>
<section>
  <div>
    {{> title data="My hobbies" line=true }}
      <ol class="list-group list-group-numbered">
    {{#each main.hobbies}}
        <li class="list-group-item list-group-item-primary-">{{title}} {{#if isMain}} (favorite) {{/if}}
        </li>
    {{/each}}
      </ol>
  </div>
</section>
<footer>
  {{> footer }}
</footer>