      <center>
        <div>
          <h1>Resume</h1> of
          <h2>{{> fullname data=person }}</h2> for
        </div>
        <div>
        {{#with header}}
          <b>{{position}}</b> position with
        </div>
        <div>
          <em>{{salary}}</em> salary
        </div>
        <div>
          <h3>{{> address data=address }}</h3>
        </div>
        {{> hspcln}}
        {{/with }}
      </center>