<ul class="nav nav-pills">
  <li class="nav-item">
    {{> link href="/" text="Home" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/summary" text="Summary" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/education" text="Education" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/skills" text="Skills" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/works" text="Works" line=true }} 
   </li>
  <li class="nav-item">
    {{> link href="/person" text="Abstract summary" line=true }} 
   </li>
  <li class="nav-item">
    {{> link href="/bio" text="Famous biography" line=true }}  
  </li>
  <li class="nav-item">
    {{> link href="/program" text="Tour program" line=true }}  
  </li>
  <li class="nav-item">
    {{> link href="/web" text="Web technologies" line=true }}  
  </li>
  
  <li class="nav-item">
    {{> link href="/js" text="About JavaScript" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/bio" text="Famous biography" line=true }}  
  </li>
  <li class="nav-item">
    {{> link href="/program" text="Tour program" line=true }} 
  </li>
  <li class="nav-item">
    {{> link href="/web" text="Web technologies" noLine=true }}
  </li>
</ul>