<ul class="nav nav-pills">
  <li class="nav-item">
    {{> link href="/" text="Home" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/summary" text="Summary" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/education" text="Education" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/skills" text="Skills" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/works" text="Works" line=true }} 
   </li>
  <li class="nav-item">
    {{> link href="/person" text="Abstract summary" line=true }} 
   </li>
  <li class="nav-item">
    {{> link href="/bio" text="Famous biography" line=true }}  
  </li>
  <li class="nav-item">
    {{> link href="/program" text="Tour program" line=true }}  
  </li>
  <li class="nav-item">
    {{> link href="/web" text="Web technologies" line=true }}  
  </li>
  <li class="nav-item">
    {{> link href="/js" text="About JavaScript" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/car" text="About Toyota" line=true }}  
  </li>
  <li class="nav-item">
    {{> link href="/mac" text="About MacBook" line=true }} 
  </li>
  <li class="nav-item">
    {{> link href="/facebook" text="About Facebook" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/task21" text="About Semantics" line=true }} 
  </li>
  <li class="nav-item">
    {{> link href="/task22" text="About InnovaMind" line=true }}
  </li>
  <li class="nav-item">
    {{> link href="/task31" text="task31" noLine=true }}
  </li>
  <li class="nav-item">
    {{> link href="/shophome" text="Shophome" noLine=true }}
  </li>
  <li class="nav-item">
    {{> link href="/shoporder" text="Shoporder" noLine=true }}
  </li>
  <li class="nav-item">
    {{> link href="/shopcart" text="Shopcart" noLine=true }}
  </li>
  <li class="nav-item">
    {{> link href="/shopprofile" text="Shopprofile" noLine=true }}
  </li>
</ul>